

/* #dedede, #3fc1c9, #eeeeee, #fc5185 */

@font-face {
  font-family: 'myFont';
  src: url('font.ttf') format('truetype');
  font-weight: normal;
font-style: normal;
}
@font-face {
  font-family: 'myFont-Bold';
  src: url('font-Bold.ttf') format('truetype');
  font-weight: bold;
font-style: normal;
}
@font-face {
  font-family: 'myFont-UltraBold';
  src: url('ultraFont-Bold.ttf') format('truetype');
  font-weight: bold;
font-style: normal;
}
@font-face {
  font-family: 'myFont-Ultra';
  src: url('ultraFont.ttf') format('truetype');
  font-weight: normal;
font-style: normal;
}

body {
font-family: myFont-Ultra;
background: #eeeeee;
color:#444444;
text-align: center;
margin-left: 3%;
  margin-right:3%;
}



a{
  color: #eeeeee
}

.container{
  display: flex;
  height:500px;
}


.caption{
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width:30em;
}
.photo{
  width:50%
}

.multicomp{
  background:#ff4949;
  height:100%;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow:0px 5px 0px #c10000;
  

}
.hello{
  font-size: 1.7em
}
.myTitle{
  color: #ff4949;
  font-size: 1.7em;
}
.long{
  font-family: myFont;
  font-size: 1.3em;
}
.spacer{
  height:20%;
}
.text{
  width: 80%;
}
.line{
  width: 20%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color:#dedede;
  border: 0 none;
  margin-top: 20px;
  margin-bottom: 20px;

  }
  .tiles{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    
   
  }
  .tiles-mobile{
    display: flex;
    flex-direction: column;
  }

  .multicomp .title{
    font-family: myFont-Bold;
    font-size: 2em;
    color: #eeeeee;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navLink{
    text-decoration: none;

  }
  
 
  

  .singleProject{
    position: relative;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .projectCap{
    position: absolute;
    font-size: 1.1em;
    bottom :5.2%;
    left:10%;
    color: #dedede;
    background: #444444;
    z-index: 10;
    opacity:0.90;
    width: 80%;
    font-family: myFont

  }
  .canvas{
    
    width:100%;
  }
  .projectCap-selected{
    font-family: myFont;
    position: absolute;
    bottom :5%;
    left:10%;
    font-size: .8em;
    color: #eeeeee;
    background: #dedede;
    opacity:0.90;
    width: 80%;


  }
 
  .singleProject img{
    width: 80%;
    height:80%;
    min-width: 80%;
    border-radius: 10px;

  }

  .navigator{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: #ff4949;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow:0px 5px 0px #c10000;
    

  }

  .navigator a{
    color:#eeeeee;
    font-size: 1.5em;
    font-family: myFont-bold;
    text-decoration: none;
    

  }

  .aboutMe{
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 4%;
    line-height:200%;
    font-size: 20px;
    font-family: myFont-bold

  }
  .launchbody{
    position: absolute;
    top: 30%;
    left: 6%;
    z-index: 10;
    opacity: 0.90;
    width: 80%;
    text-decoration: none;
  }

  .launch{
    position: absolute;
    font-size: 2em;
    top: 30%;
    left: 10%;
    color: #eeeeee;
    z-index: 10;
    width: 90%;
    background: #dedede;
  }

